@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: none;
}
